[include]
    path = ~/.gitconfiglocal
[alias]
    s = status -s
    p = pull
    sw = switch
    ada = add -A
    ci = commit
    amend = commit --amend --reuse-message=HEAD
[init]
    defaultBranch = main
[push]
    recurseSubmodules = on-demand
[pull]
    rebase = true
[submodule]
    recurse = true
